body{
    font-family: 'Poppins', sans-serif;
    
    

}
h1{
    text-align:center;
}
#outerlayer{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    color: rgb(0, 0, 0);
    border-color: #92FE9D;
    font-size: 75px;
    border: 2px solid black;
    width: max-content;
    padding: 32px;
    margin: auto;

}